// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
  color: $body-color;
  font-size: $font-size-base;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
  font-weight: $headings-font-weight;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h1 {
  font-size: $h1-font-size;
  letter-spacing: normal;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}
#services h3 {
  font-size: ($h3-font-size * 1.2);
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

.lead {
  font-size: $lead-font-size;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.check {
  padding-left: 26px;
  &:before {
    content: "\f00c";
    font-family: Fontawesome;
    display: inline-block;
    margin: 0 5px 0 -27px;
  }
}

.form-group label {
  font-family: $font-family-sans-serif;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.phone-number {
  font-family: $font-family-sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .04em;
}
.service-icon {
  width: 138px;
}
